.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  height: 100vh;
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  overflow: hidden;
}

.ascii-art {
  font-size: 20px;
  margin-bottom: 20px;
}

.display-text {
  font-size: 24px;
  font-weight: bold;
}

.hacker-quote {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.display-text::after {
  content: '|';
  animation: blink 0.7s infinite;
}

.home-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

















// .home-container {
//     margin: 50px;
//     padding: 20px;
//     background-color: #f2f2f2;
//     border-radius: 10px;
//     text-align: center;
//   }

//   .display-text {
//     font-size: 24px;
//     color: #333;
//     font-weight: bold;
// }

// .cart {
//   width: 35px;
//   height: 35px;
//   background-color: #ccc;
//   border-radius: 50%;
//   position: relative;
//   animation: move-cart 2s infinite alternate;
// }

// @keyframes move-cart {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(100px);
//   }
// }














// .home-container {
//     margin: 50px;
//     padding: 20px;
//     background-color: #f2f2f2;
//     border-radius: 10px;
//     text-align: center;
//   }

//   .display-text {
//     font-size: 24px;
//     color: #333;
//     font-weight: bold;
// }



















// .home-container {
//     margin: 50px;
//     padding: 20px;
//     background-color: #f2f2f2;
//     border-radius: 10px;
//     text-align: center;
//   }

//   .display-text {
//     font-size: 24px;
//     color: #333;
//     font-weight: bold;
// }